<%= render "shared/header" %>
<div class="contents row">
  <div class="container">
    <h3>図鑑登録する</h3>
     <%= form_with model: @pictorial_book, local: true do |f| %>
      <%= f.text_field :plant_name, placeholder: "植物名" %>
      <%= f.file_field :image, id:"pictorial_book-image" %>
      <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box"}) %> 
      <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :name, {}, {class:"select-box"})%>
      <%= f.text_area :cultivation, placeholder: "育て方" %>
      <%= f.date_select :data, placeholder: "日付" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>