<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
        <%= f.label :username %> <em>(40 characters maximum)</em><br />
        <%= f.text_field :name, autofocus: true, placeholder:"例) 山田太郎",maxlength:"40" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email,placeholder:"PC・携帯どちらでも可" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length%>characters minimum )</em>
        <% end %><br />
        <%= f.password_field :password,placeholder:"6文字以上の半角英数字", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation,placeholder:"同じパスワードを入力して下さい" ,autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>