<%= render "shared/header" %>
    <div class="mainimg">
             <%= image_tag "taniku.jpg" %>
        </div>
    <p class="center">New Topic</p>
<div class="catch">
  <% @tweets.each do |tweet| %>
   <%= link_to tweet_path(tweet) do %>
    <div class="content_post" >
  <%= image_tag tweet.image.variant(resize: '500x500'), class: "tweet-img" if tweet.image.attached? %>
      <p><%= tweet.text %></p>
     <%= link_to tweet.title, tweets_path(tweet), class: :card__title%>
      <span class="name">
         <%= link_to "by #{tweet.user.name}"%>
      </span>
      <% end %>
    </div>
 <% end %>
</div>
<%= render "shared/footer" %>