 <%= render "shared/header" %>
  <main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
     <p class="prototype__hedding">
       <%= @tweet.title%>
      </p>
    <%= link_to "by #{@tweet.user.name}",class: :prototype__user%>
 <% if  current_user == @tweet.user %>
       <p class="lead text-muted">You're currently signed in as <%= current_user.email %></p>
    <% else %>
    <% if @user.is_followed_by?(@user)  %>
     <%= link_to  user_relationships_path(@user), method: :delete do%>
     <button >フォロー解除</button>
     <% end %>
     <% else %>
    <%= link_to user_relationships_path(@user), method: :post do%>
    <button >フォロー</button>
   <% end %>
 <% end %>
 <% end %>

      <% if current_user == @tweet.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet), class: :prototype__btn %>
          <%= link_to "削除する", tweet_path(@tweet), method: :delete, class: :prototype__btn %>
          </div>
          <% end %>
     
      <div class="prototype__image">
        <%= image_tag @tweet.image%>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
            <%= @tweet.text%>
          </p>
        </div>

      <div class="comment-form">
    <% if user_signed_in? %>
     <%= form_with model: [@tweet, @comment],id: "comment-form" do |f| %>
         <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div id="comments">
      <h4>＜コメント一覧＞</h4>
      <% @tweet.comments.each do |comment| %>
       <div class="comment">
       <p>
      <strong class="user-info"><%= comment.user.name %>： </strong>
          <%= comment.text%>
          </p>
      </div>
      <%end %>
    </div>
</main>
<%= render "shared/footer" %>