 <%= render "shared/header" %>
  <main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
       <%= @tweet.title%>
      </p>
      <%= link_to "by #{@tweet.user.name}",class: :prototype__user%>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <% if current_user == @tweet.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet), class: :prototype__btn %>
          <%= link_to "削除する", tweet_path(@tweet), method: :delete, class: :prototype__btn %>
        </div>
       <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @tweet.image%>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
            <%= @tweet.title%>
          </p>
        </div>
       
      <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</main>
<%= render "shared/footer" %>